@-moz-document url-prefix('http://15418.courses.cs.cmu.edu/spring2017/') {

h1,
h2,
h3,
h4,
h5,
h6,
.basic_info,
.common_title,
.home_title,
.lecture_title,
.overview_main_item {
    color: white;
}
body {
    background-color: black;
    color: grey;
}

textarea { /* for comment boxes on slides */
    background-color: #151515; /* very dark gray */
    color: white;
}

}
