@-moz-document url-prefix('https://www.cs.cmu.edu/~410/') {

title {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}
body {
    background-color: black;
    color: grey;
}
a:link {
    color: #54AFBE; /* a muted cyan */
}
a:visited {
    color: #7647A2; /* a muted cyan */
}
table {
    background-color: black;
}
tr {
    /* once in a while, de0u manually adds a color for one of these */
    background-color: black;
}
}
