@-moz-document url-prefix('http://15418.courses.cs.cmu.edu/spring2017/') {

h1,
h2,
h3,
h4,
h5,
h6,
.basic_info,
.common_title,
.feed_title,
.home_title,
.lecture_title,
.lecture_title a,
.overview_main_item {
    color: white;
}

/***** code blocks *****/
.article_container .prettyprint { background-color: black; }
.article_container pre span.com { color: green; }
.article_container pre span.kwd { color: orchid; }
.article_container pre span.pln { color: gray; }
.article_container pre span.pun { color: goldenrod; }
.article_container pre span.lit { color: orange; }
.article_container pre span.typ { color: cyan; }

body {
    background-color: black;
    color: grey;
}


textarea { /* for comment boxes on slides */
    background-color: black;
    color: white;
}

}
